<nav id="sidebar" class="d-none d-md-block">
    <ul class="list-unstyled">
        <li class="<%= (page==='home') ? 'active' : ''%>">
            <a href="/admin/home">Trang chủ</a>
        </li>
        <li class="<%= (page==='about') ? 'active' : ''%>">
            <a href="/admin/about">Chúng tôi là ai?</a>
        </li>
        <li class="<%= (page==='service') ? 'active' : ''%>">
            <a href="/admin/service">Chúng tôi làm gì?</a>
        </li>
        <li class="<%= (page==='news') ? 'active' : ''%>">
            <a href="/admin/news">Tin tức</a>
        </li>
        <li class="<%= (page==='contact') ? 'active' : ''%>">
            <a href="/admin/contact">Liên hệ với chúng tôi</a>
        </li>
    </ul>
</nav>